<nav th:fragment="page" th:if="${articles != null}" aria-label="Page navigation">
    <ul class="pagination justify-content-center"
        th:with="p=${articles},
        start=${ p.getNumber() - 3 },
        start=${start < 0 ? 0 : start},
        end=${ p.getNumber() + 3 },
        end=${ end >= p.getTotalPages() ? p.getTotalPages() - 1 : end}">
        <li th:class='${ "page-item " + (p.isFirst()?"disabled":"")}'>
            <a class="page-link" href="#">&larrtl;</a>
        </li>
        <li th:each="i:${#numbers.sequence(start,end)}" th:class='${"page-item " + (p.getNumber()==i?"active disabled":"") }'>
            <a class="page-link" href="#" th:text="${i + 1}"></a>
        </li>
        <li th:class='${ "page-item " + (p.isLast()?"disabled":"")}'>
            <a class="page-link" href="#">&rarrtl;</a>
        </li>
    </ul>
</nav>

<footer th:fragment="footer" class="container-fluid bg-dark" style="margin-top:0.7rem">
    <div class="container">
        <div class="row text-light">
            <div class="col-sm-12 text-center" style="padding:2rem;" th:utext="${pageInfo.footer}">

            </div>
        </div>
    </div>
</footer>