.logo img:hover {
    animation-name: bounce;
    animation-duration: 1s;
}

.footer span:hover, .footer img:hover{
    animation-name: pulse;
    animation-duration: 0.9s;
    border: 1px dotted white;
}

.main-content {
    min-height: 500px;
    height: auto !important;
}


.site-nav {
    padding-top: 0.5rem;
}

.navbar-collapse {
    display: block !important;
    width: auto;
}

.under-line {
    padding-bottom: 15px;
    border-bottom: 1px dotted black;
}