<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="ch" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="component/header :: head(~{::title},~{::meta})">
    <title th:text='${ "About " + pageInfo.author}'></title>
    <meta name="keywords" th:content='${"关于"+pageInfo.author+",About "+pageInfo.author}'>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
    <div th:replace="component/header :: nav">

    </div>
    <div class="container main-content">
        <div class="row">
            <div class="col-sm-12">
                <div th:utext="${content}">

                </div>
            </div>
        </div>
    </div>
    <div th:replace='component/footer :: comments(id=${"about"})'></div>
    <footer th:replace="component/footer :: footer"></footer>
</body>