<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="ch" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="component/header :: import">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
<header>
    <nav class="nav navbar-expand-lg " role="navigation">
        <a class="navbar-brand mb-0 h1" href="">测试</a>
        <ul class="nav justify-content-end">
            <li class="nav-item" th:each="m:${menu}" >
                <a class="nav-link" href="" th:text="${m}"></a>
            </li>
        </ul>
    </nav>
</header>
</body>
</html>