<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="ch" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="component/header :: import">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
<header>
    <nav class="navbar">
        <div class="container">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    <li th:each="m:${menu}" th:text="${m}">
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
</body>
</html>