<!doctype html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="ch" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:replace="component/header :: head(~{::title},~{::meta})">
    <title th:text="${pageInfo.author + pageInfo.titleSuffix}"></title>
    <meta name="keywords" th:content='${pageInfo.author+","+pageInfo.author+"博客,博客" + pageInfo.keywords}'>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
<header>
    <div th:replace="component/header :: nav"></div>
</header>

<div class="container main-content">
    <div class="row">
        <div class="col-sm-9 ">
            <div class="row" th:each="a:${articles.content}">
                <div class="col-sm-12">
                    <div class="media under-line">
                        <div class="media-body">
                            <div class="row">
                                <div class="col-sm-7">
                                    <a th:href="@{'/article/md/get/'+${a.hash}}"><h3 th:text="${a.title}"></h3></a>
                                </div>
                                <div class="col-sm-5 text-right ">
                                    <span class="text-success">Update:</span>
                                    <span class="text-light bg-dark"
                                          th:text="${#dates.format(a.lastModify , 'yyyy-MM-dd HH:mm:ss')}"></span>
                                </div>
                            </div>
                            <div class="media-body" th:utext="${a.summary}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 text-left">
                </div>
                <hr/>
            </div>

            <nav th:replace="component/footer::page"></nav>

        </div>
        <div class="col-sm-3" th:include="component/rightArea::newest">
        </div>
    </div>
</div>

<footer th:replace="component/footer :: footer"></footer>
</body>
</html>